.educations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: inherit;
/*    background-color: #374149;*/
    flex-wrap: wrap;
    align-items: center;
}

.educationsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 65px;
}