.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a2a;
    color: #b2babe;
    padding: 5px;
}
.block {
    flex-direction: column;
}
h2 {
    text-align: center;
}
.data {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}