@import '../../common/styles/mixins';

.skillContainer {
  margin: 20px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  height: 160px;
  background: linear-gradient(0deg, #777, #ccc, #ccc);
  border-radius: 10px;

  .img {
    margin-top: 10px;
    height: 100px;
  }

  .title {
    @include text(1.2, 18px, 600);
    position: center;
    margin: -10px;
    color: #383434;
  }
}



