@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.burgerNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: $backgroundColor;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;

  .burgerNavItems {
    position: absolute;
/*    right: 0;
    left: 0;
    top: 0;*/
    height: 100px;
    padding: 20px;
    transform: translate(0, -450px);
/*    transition: 1s;*/

   /* .div {
      @include text(1.2, 24px, 700);
      padding: 10px;
      margin: 15px 35px;
      cursor: pointer;

      &:hover {
        color: #6c7173;
        transition: 0.5s;
      }
    }*/
  }
  .show {
    transform: translate(0, 0);
  }
  .burgerButton {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  @media screen and (min-width: 805px) {
    display: none;
  }
}
