.data {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: flex-start;
    margin-bottom: 20px;
}
.inputBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.input {
    width: 45%;
}
.text {
    max-height: 300px;
    margin: 30px 0 20px 0;
    padding: 11px;
    width: 93%;
    height: 100px;
    resize: none;
}
.button {
    font-family: 'Montserrat', sans-serif;
    border: 0 none;
    border-radius: 0;
    height: 40px;
    padding: 0 40px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}