.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    /*background-color: rgb(66, 66, 66);*/
    flex-wrap: wrap;

}

.skillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 65px;
    max-width: 70%;
}