@import '../common/styles/mixins';

.main {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  background-color: rgba(115, 107, 109, 0.25);
  min-height: 100vh;
  align-items: center;
  flex-wrap: wrap;

  .containerForTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      @include text(1.2, 24px, 500);
      letter-spacing: 3px;
    }

    .span_secondLine {
      margin: 0 0 0 75px;
      @include text(1.2, 32px, 500);
      text-decoration: none;
    }

    .title {
      @include text(1.2, 50px, 700);
      margin: 0 40px 30px 40px;
      text-wrap: normal;
      text-decoration: none;
    }
  }

  .img {
    width: 300px;
    margin: 18px;
    background-color: rgba(255, 255, 255, 0.31);
    border: 4px solid rgba(255, 255, 255, 0.42);
    border-radius: 50px;
  }
}





