.main {
    display: flex;
    justify-content: center;
    background-color: rgba(115, 107, 109, 0.25);
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}

.containerForTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.span {
    font-size: 20px;
    text-decoration: underline #9f0d0d;
}

.span_secondLine {
    margin: 15px 0px 0px 55px;
    font-size: 30px;
}

.title {
    margin: 0px 40px 30px 80px ;
    font-weight: 700;
    font-size: 50px;
    text-wrap: normal;
}

.img {
    width: 300px;
    margin: 18px;
    background-color: rgba(255, 255, 255, 0.31);
    border: 4px solid rgba(255, 255, 255, 0.42);
    border-radius: 50px;

}