.education {
    padding: 3px;
    margin: 10px 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 500;
}

.description {
    text-align: center;
}