@import '../../common/styles/mixins';

.education {
  padding: 3px;
  margin: 10px 20px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    @include text(1.2, 18px, 600);
  }

  .description {
    @include text(1.2, 16px, 500);
    text-align: center;
  }
}



