@import '../common/styles/mixins';

.profile {
  text-align: center;
  background-color: inherit;
  padding: 10px;

  .text {
    @include text(1.2, 18px, 500);
    max-width: 70%;
    margin-left: 15%;
    @media screen and (max-width: 800px) {
      max-width: 86%;
      margin-left: 7%;
    }
  }
}