.project {
    margin: 10px 10px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    width: 280px;
}
.logo {
    width: 280px;
    border: 1px solid #9f0d0d;
    cursor: pointer;
}
.logo_wrapper:hover {
    background: rgba(0,0,0,0.3);
}
.logo_wrapper:hover .logo{
    visibility: visible;
}
.title {
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.description {
    font-family: 'Source Sans Pro', sans-serif;
}
.button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}