.project {
  margin: 10px 10px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  width: 320px;

  .logo {
    width: 320px;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
      opacity: 0.4;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .description {
    font-family: 'Source Sans Pro', sans-serif;

    .link {
      background-color: inherit;
      border: none;
      cursor: pointer;
      font-size: 14px;
      color: #fff;
      opacity: 0.6;
    }
  }

  .containerModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bigModal {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      width: 250px;
      height: 300px;
      background: #F9F9FE;
      border-radius: 8px;

      .titleModal {
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
      }

      .containerBtn {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}








