.project {
    margin: 10px 10px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    width: 280px;
}
.logo {
    width: 280px;
    border: 1px solid #9f0d0d;
    cursor: pointer;
}
.logo_wrapper:hover {
    background: rgba(0,0,0,0.3);
}
.logo_wrapper:hover .logo{
    visibility: visible;
}
.title {
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.description {
    font-family: 'Source Sans Pro', sans-serif;
}
.link {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    opacity: 0.6;
}

.bigModal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 250px;
    height: 300px;
    background: #F9F9FE;
    border-radius: 8px;
}

.modal .titleModal {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;

}

.modal .containerBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.modal .containerBtn button{
    background: #D7D8EF;
    color: #21268F;
}
m {
    display: flex;
    justify-content: center;
}