.nav {
    display: flex;
    justify-content: center;
    background-color: #2a2a2a;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
}

a {
    padding: 3px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #b2babe;
    margin: 15px;
}