@import '../common/styles/variables/variables';
@import '../common/styles/mixins';

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $backgroundColor;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;

  .div {
    @include text(1.2, 24px, 500);
    padding: 3px;
    margin: 15px 35px;
    cursor: pointer;
  }
}
