.container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.logo {
    width: 45px;
    margin: 0 20px;
    cursor: pointer;
}

.logo:active {
    width: 40px;
}
.logo:hover {
    opacity: 0.6;
}
.text {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
