@import '../common/styles/mixins';

.container {
  display: flex;
  justify-content: center;
  margin: 30px 0;

  .logo {
    width: 45px;
    margin: 0 20px;
    cursor: pointer;

    &:active {
      width: 40px;
    }

    &:hover {
      opacity: 0.6;
      transition: 0.5s;
    }
  }
}

.text {
  @include text(1.2, 16px, 500);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}





