.projects {
  display: flex;
  flex-direction: column;
  background-color: inherit;

  .block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 65px;
  }
}